<template>
  <el-main>
    <h2>Панель управления</h2>
  </el-main>
</template>

<script>
export default {
  name: "Main"
}
</script>

<style scoped>
  .el-main {
    /*flex-grow: 12;*/
  }
  .el-main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
  }
</style>
