<template>
  <el-header style="text-align: right; font-size: 12px">
    <el-row>
      <el-col :span="24">
        <el-dropdown>
          <i class="el-icon-setting" style="margin-right: 15px"></i>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item @click="exit()">Выход</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-col>
    </el-row>
  </el-header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      activeIndex: '1',
      activeIndex2: '1'
    }
  },
  methods: {
    handleSelect() {},

    exit() {
      localStorage.setItem('access_token', '')
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped>
  .el-header {
    background-color: #f4f4f5;
    color: #333;
    text-align: center;
    line-height: 60px;
    width: 100%;
    margin-left: 250px;
  }
</style>
