<template>
  <el-aside width="250px">
    <el-radio-group v-model="isCollapse">
      <el-radio-button :label="false">expand</el-radio-button>
      <el-radio-button :label="true">collapse</el-radio-button>
    </el-radio-group>
    <el-menu
      class="el-menu-vertical"
      :collapse="isCollapse"
      background-color="#66b1ff"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1">
        <i class="fas fa-address-card"></i>
        <span slot="title">Users</span>
      </el-menu-item>
      <el-menu-item index="2">
        <i class="fas fa-comments"></i>
        <span slot="title">Sessions</span>
      </el-menu-item>
      <el-menu-item index="3">
        <i class="fas fa-list-ul"></i>
        <span slot="title">Sessions</span>
      </el-menu-item>
    </el-menu>
  </el-aside>
</template>

<script>

export default {
  name: "Aside",
  data() {
    return {
      isCollapse: false
    }
  }
}
</script>

<style scoped>
  .el-aside {
    background-color: #66b1ff
  }
  .el-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .el-aside:not(.el-menu--collapse) {
    width: auto;
  }
</style>
