<template>
  <el-container class="main-container">
    <router-view name="header"></router-view>
    <el-container>
      <router-view name="sidebar"></router-view>
      <router-view></router-view>
    </el-container>
  </el-container>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
</style>

<style>
  .main-container {
    flex-wrap: wrap;
    height: 100vh;
  }
  .el-container {
    width: 100%;
    height: 100vh;
  }
  .el-menu-item i {
    color: #ffffff !important;
  }
</style>
